In [1]:
import pandas as pd

In [29]:
dataset=pd.read_csv("Placement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

# Hereafter before doing Descriptive Analysis, and creating Ml Model, we should do "Data Preprocessing".

# First step in--> Data Preprocessing is==> isnull()

  # isnull()--> means it checks if any value is empty.

In [4]:
dataset.isnull()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
211,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
213,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
214,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

# On checking the above the output --> information is vey low and readability is also very poor.

    # So we should update sum() in this--> dataset.isnull()==> dataset.isnull().sum()

In [5]:
dataset.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [6]:
dataset.isna().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

# dataset.isnull().sum() & dataset.isna().sum() ---Both are same--> for checking Null values only.

# On checking the above output : Only "SALARY" column is having null values.

# For both the Ml and Data Analysis 

Dataset should not have 

  1. Misssing values/Null values/Nan
  2. Outlier

# Here on checking our problem statement ---> the dataset Nan values are there only for the "Not placed candidates".

     We should check how we should replace it.

     1. Can we use central tendency by using Mean,Meadian,Mode?

           We cannot use above the above 3(central tendency) because--> If we take it --> It will change as "they are getting salary nu"

     But the real information is he is not placed-->and so not getting salary.

     2. We can put 0 in the Nan values, 
       * Missing values gets filled.
       * information will also not get changed. 
       * And it will get changed to Numerical(quantative) data also.

# Data Preprocessing Methods:
            What are the ways for filling or replacing the Missing values/Null Values/Nan values?

1) Replacing the missing value with Central Tendency--> Mean,Median,Mode

2) Delete the entire Row.

3) Respective to the problem, have to replace the missing values.(with 0)

4) Consider this as a Semi-Supervised, 
     Create a Model, so that we can predict the missing values,

# Here: for this problem statment

1) Replacing the missing value with Central Tendency--> Mean,Median,Mode===> Will not work out
      because--> If we take it --> It will change as "they are getting salary nu", 
              But the real information is he is not placed-->and so not getting salary.

2) Delete the entire Row: If we delete the entire row means==> 67 rows will be deleted, so we cannot do it.


3) Respective to the problem, have to replace the missing values.==> Here, we can replace it only (with 0).

4) Consider this as a Semi-Supervised, 
     Create a Model, so that we can predict the missing values,====> This also wont work pretty much for this. 
       Because--> It also, will change as "they are getting salary nu".

# For replacing missing values we use:
                                        dataset["salary"].fillna(0,inplace=True)

In [7]:
dataset["salary"].fillna(0,inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9336\2080798296.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["salary"].fillna(0,inplace=True)

In [8]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

By checing it using : dataset.isnull().sum()==> The 67 null values(missing values) in the "salary column" has been replaced.

# for deleting the entire row which are having null values:
                                                        dataset.dropna(inplace=True)

Since we are not having the null values here.
        Again, we should load the dataset --> by executing: dataset=pd.read_csv("Placement.csv")

And then execute : dataset.isnull().sum()===> Which will have 67 null values again.

To delete that 67 values we use drop==> dataset.dropna(inplace=True)

Then we can check the dataset.

In [9]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [10]:
dataset.dropna(inplace=True)

In [11]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

While checking the dataset: we can see that the 215 rows has been reduced to 148, 
  Such that that 67 null values are been dropped.

# Replacing the missing value with Central Tendency--> Mean,Median,Mode

            dataset["salary"].fillna(dataset["salary"].mean(),inplace=True)

In [12]:
dataset["salary"].fillna(dataset["salary"].mean(),inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9336\2561448817.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["salary"].fillna(dataset["salary"].mean(),inplace=True)

Since we are not having the null values here.
        Again, we should load the dataset --> by executing: dataset=pd.read_csv("Placement.csv")

And then execute : dataset.isnull().sum()===> Which will have 67 null values again.

Then for Replacing the missing value with Central Tendency:

1) Mean   ==> dataset["salary"].fillna(dataset["salary"].mean(),inplace=True)
2)Median  ==> dataset["salary"].fillna(dataset["salary"].median(),inplace=True)
3)Mode    ==> dataset["salary"].fillna(dataset["salary"].mode(),inplace=True)

In [13]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [14]:
dataset["salary"].fillna(dataset["salary"].mean(),inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_9336\2561448817.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["salary"].fillna(dataset["salary"].mean(),inplace=True)

In [15]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

Here in the above output we could see that ---> salary for the not placed has been replaced.

Similarly, we can check for the Median and Mode also.

# For checking the Central Tendency for multiple columns we should use: Imputer:

                Google---> Imputer in python--> sklearn--document--> https://scikit-learn.org/1.5/modules/impute.html
                Where we need to check and use the code

                import numpy as np
                from sklearn.impute import SimpleImputer
                imp = SimpleImputer(missing_values=np.nan, strategy='mean')
                imp.fit([[1, 2], [np.nan, 3], [7, 6]])  ==> here they have given their dataset, so we need to give our dataset likewise.

In [16]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'M'

# Since we are having both the categorical and Numerical values in our dataset, we are getting the above error.

# So, we should take quantitative columns only and check for it.

# We have already created function for quan and qual, we can use it here.

        def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [17]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [18]:
quan,qual=quanQual(dataset)

In [19]:
dataset[quan]

     sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p    salary
0        1  67.00  91.00     58.00     55.0  58.80  270000.0
1        2  79.33  78.33     77.48     86.5  66.28  200000.0
2        3  65.00  68.00     64.00     75.0  57.80  250000.0
3        4  56.00  52.00     52.00     66.0  59.43       0.0
4        5  85.80  73.60     73.30     96.8  55.50  425000.0
..     ...    ...    ...       ...      ...    ...       ...
210    211  80.60  82.00     77.60     91.0  74.49  400000.0
211    212  58.00  60.00     72.00     74.0  53.62  275000.0
212    213  67.00  67.00     73.00     59.0  69.72  295000.0
213    214  74.00  66.00     58.00     70.0  60.23  204000.0
214    215  62.00  58.00     53.00     89.0  60.22       0.0

[215 rows x 7 columns]

In [ ]:
# So, we have got the quan values separately.

# And we need to pass it inside the dataset==> imp.fit(dataset[quan])

In [20]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])

SimpleImputer()

In [21]:
imp

SimpleImputer()

In [22]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [ ]:
# In the imputation--->https://scikit-learn.org/1.5/modules/impute.html

 # They have used==> print(imp.transform(X)) (i.e) they have got it in a variable.

# So, we also should use the imp.transform.

In [23]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
imp.transform(dataset[quan])

array([[1.000e+00, 6.700e+01, 9.100e+01, ..., 5.500e+01, 5.880e+01,
        2.700e+05],
       [2.000e+00, 7.933e+01, 7.833e+01, ..., 8.650e+01, 6.628e+01,
        2.000e+05],
       [3.000e+00, 6.500e+01, 6.800e+01, ..., 7.500e+01, 5.780e+01,
        2.500e+05],
       ...,
       [2.130e+02, 6.700e+01, 6.700e+01, ..., 5.900e+01, 6.972e+01,
        2.950e+05],
       [2.140e+02, 7.400e+01, 6.600e+01, ..., 7.000e+01, 6.023e+01,
        2.040e+05],
       [2.150e+02, 6.200e+01, 5.800e+01, ..., 8.900e+01, 6.022e+01,
        0.000e+00]])

In [ ]:
# In the above while, checking  imp.transform it gives the output with array i.e--> Mean.

                                                                # (It got transformed-->converted without null values)

In [24]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [ ]:


# But the dataset still remains in table format,

# So, we can assign the imp.transform in the variable -->dataset

In [25]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
dataset=imp.transform(dataset[quan])

In [26]:
dataset

array([[1.000e+00, 6.700e+01, 9.100e+01, ..., 5.500e+01, 5.880e+01,
        2.700e+05],
       [2.000e+00, 7.933e+01, 7.833e+01, ..., 8.650e+01, 6.628e+01,
        2.000e+05],
       [3.000e+00, 6.500e+01, 6.800e+01, ..., 7.500e+01, 5.780e+01,
        2.500e+05],
       ...,
       [2.130e+02, 6.700e+01, 6.700e+01, ..., 5.900e+01, 6.972e+01,
        2.950e+05],
       [2.140e+02, 7.400e+01, 6.600e+01, ..., 7.000e+01, 6.023e+01,
        2.040e+05],
       [2.150e+02, 6.200e+01, 5.800e+01, ..., 8.900e+01, 6.022e+01,
        0.000e+00]])

In [ ]:
# Now, on checking the dataset, it gives the output in array i.e--> Mean

                      # (It got transformed-->converted without null values)

In [ ]:
# For creating these in a table format.

# Again, we should re-load the dataset --> by executing: dataset=pd.read_csv("Placement.csv")

# Then check-->df

In [30]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])

In [31]:
df

array([[1.00000000e+00, 6.70000000e+01, 9.10000000e+01, ...,
        5.50000000e+01, 5.88000000e+01, 2.70000000e+05],
       [2.00000000e+00, 7.93300000e+01, 7.83300000e+01, ...,
        8.65000000e+01, 6.62800000e+01, 2.00000000e+05],
       [3.00000000e+00, 6.50000000e+01, 6.80000000e+01, ...,
        7.50000000e+01, 5.78000000e+01, 2.50000000e+05],
       ...,
       [2.13000000e+02, 6.70000000e+01, 6.70000000e+01, ...,
        5.90000000e+01, 6.97200000e+01, 2.95000000e+05],
       [2.14000000e+02, 7.40000000e+01, 6.60000000e+01, ...,
        7.00000000e+01, 6.02300000e+01, 2.04000000e+05],
       [2.15000000e+02, 6.20000000e+01, 5.80000000e+01, ...,
        8.90000000e+01, 6.02200000e+01, 2.88655405e+05]])

# Here the df is in array type,

       But it will be good if it is table format, which we have given as input.

     So for converting it to table format we need to use ==> df= pd.DataFrame(dfcolumns = quan)

In [32]:
df= pd.DataFrame(df,columns = quan)

In [33]:
df

     sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p         salary
0      1.0  67.00  91.00     58.00     55.0  58.80  270000.000000
1      2.0  79.33  78.33     77.48     86.5  66.28  200000.000000
2      3.0  65.00  68.00     64.00     75.0  57.80  250000.000000
3      4.0  56.00  52.00     52.00     66.0  59.43  288655.405405
4      5.0  85.80  73.60     73.30     96.8  55.50  425000.000000
..     ...    ...    ...       ...      ...    ...            ...
210  211.0  80.60  82.00     77.60     91.0  74.49  400000.000000
211  212.0  58.00  60.00     72.00     74.0  53.62  275000.000000
212  213.0  67.00  67.00     73.00     59.0  69.72  295000.000000
213  214.0  74.00  66.00     58.00     70.0  60.23  204000.000000
214  215.0  62.00  58.00     53.00     89.0  60.22  288655.405405

[215 rows x 7 columns]

In [ ]:
# Now we have got the desired output in table format without nan values, Like this we can fill it for the entire quan columns.

In [ ]:
# Above frame is pre-processed frame.(of quan)

In [34]:
cate=dataset[qual]

In [35]:
# df is Numerical data (Quantitative data-Quan)

df

     sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p         salary
0      1.0  67.00  91.00     58.00     55.0  58.80  270000.000000
1      2.0  79.33  78.33     77.48     86.5  66.28  200000.000000
2      3.0  65.00  68.00     64.00     75.0  57.80  250000.000000
3      4.0  56.00  52.00     52.00     66.0  59.43  288655.405405
4      5.0  85.80  73.60     73.30     96.8  55.50  425000.000000
..     ...    ...    ...       ...      ...    ...            ...
210  211.0  80.60  82.00     77.60     91.0  74.49  400000.000000
211  212.0  58.00  60.00     72.00     74.0  53.62  275000.000000
212  213.0  67.00  67.00     73.00     59.0  69.72  295000.000000
213  214.0  74.00  66.00     58.00     70.0  60.23  204000.000000
214  215.0  62.00  58.00     53.00     89.0  60.22  288655.405405

[215 rows x 7 columns]

In [36]:
# Cate is categorical (Qualitative data-Qual)

cate

,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [ ]:
# Next we need to merge both the quantitative data and qualitative data tables.

# In google search how to add two data frames in pandas. We can take the Geeks for geeks.

# https://www.geeksforgeeks.org/how-to-combine-two-dataframe-in-python-pandas/

# import pandas as pd

# Create two sample DataFrames
# df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
# df2 = pd.DataFrame({'Name': ['Charlie', 'David'], 'Age': [35, 40]})

# Combine using concat()
# combined_df = pd.concat([df1, df2])
# display(combined_df)

In [37]:
two=[df,cate]

In [38]:
preprocessed=pd.concat(two)

In [39]:
preprocessed

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,56.00,52.00,52.00,66.0,59.43,288655.405405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [ ]:
# Here this "preprocessed" variable is having Nan values , 
  # because it has been concatainted row wise.(preprocessed=pd.concat(two)) axis not given.

# We need to put (axis =1), to concatinae column wise.

In [40]:
preprocessed=pd.concat(two,axis=1)

In [41]:
preprocessed

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.000000,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.000000,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.000000,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4.0,56.00,52.00,52.00,66.0,59.43,288655.405405,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.000000,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,80.60,82.00,77.60,91.0,74.49,400000.000000,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212.0,58.00,60.00,72.00,74.0,53.62,275000.000000,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213.0,67.00,67.00,73.00,59.0,69.72,295000.000000,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214.0,74.00,66.00,58.00,70.0,60.23,204000.000000,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215.0,62.00,58.00,53.00,89.0,60.22,288655.405405,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [42]:
# Checking whether it is having any null values.

preprocessed.isnull().sum()

sl_no             0
ssc_p             0
hsc_p             0
degree_p          0
etest_p           0
mba_p             0
salary            0
gender            0
ssc_b             0
hsc_b             0
hsc_s             0
degree_t          0
workex            0
specialisation    0
status            0
dtype: int64

In [ ]:
# It is not having any null values.

In [44]:
# Converting it to CSV.(We will get this csv in our working directory)

preprocessed.to_csv("PrePlacementdata.csv",index=False)